<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false" />
  </runtime>
 <appSettings>
    <add key="javStarRating1" value="Rei Sasaki,ASUKA,Minako Uchida,Agoha Kinashita,China Mimura,Saki Kozakura,Yuzu Shiina,Yayoi Yanagida,Rin Saotome,Ririka Suzuki,Oshikawa Yuuri,Shinoda Ayumi,Ooba Yui,Hachino Tsubasa,Kururigi Aoi,Kaname Yukina,Kurokawa Sumire,Takechi Sayo,Yuzuhara Aya,Nonoura Non,Saitou Amiri,Kawai Asuna,Aine Maria,Kawaguchi Kana" />
    <add key="javStarRating2" value="" />
    <add key="javStarRating3" value="Shinoda Yuu,Yuuki Misa,Kawakami Nanami,Hayakawa Serina,Aida Yua,AIKA,Usami Mai,Junko Hayama,Mafuyu Hanasaki,Ruri Hayami,Manami Komukai,Hime Sakura,Maki Hojo,Emiri Seo,Rosa Kawashima,Chika Ishihara,Akira Eri,Sakasaki Miho,Kamihata Ichika,Suzumura Airi,Yamakawa Aozora,Sasaki Emi,Ayami Shunka,Sakura Kokomi,Souraku Iroha,Kawana Misuzu,Tamana Yoshihadaka,Momodani Erika,Ansaki Nozomi,Oto Sakino,Nagase Minamo,Matsuoka Suzu,Shiraishi Ako,Yuiki Rumina" />
    <add key="javStarRating4" value="" />
    <add key="javStarRating5" value="Memori Shizuku,Konishi Yuu,Takizawa Lora,Mizuho Uehara,Mori Nanako,Ozawa Maria,Maria Ozawa,Fukada Eimi,Kimijima Mio,Kijima Airi,Kirihara Erika,Itou Chinami,Kizaki Jessica,Yoshizawa Akiho,Sasaki Eri,Yoshikawa Aimi,Aizawa Jun,Asuka Kirara,Honda Misaki,Kitahara Takako,Amami Tsubasa,Meguro Megumi,Haneda Yuka,Aida Nana,Aoki Karen,Kawamura Maya,Fujii Aisa,Hashimoto Ryou,Houshou Riri,Arai Azusa,Mitsumi An,Suzumori Remu,Harusaki Ryou,Kashima Reina" />
    <add key="javStarRating6" value="" />
    <add key="javStarRating7" value="Natsume Iroha,Kasumi Risa,Hayashi Yuna" />
    <add key="javStarRating8" value="" />
  </appSettings>
</configuration>
