SCEN Scene01, Ver=1
//===========================
CADRE 01, Begin, 16 sec
	IMAGE Main face
	     {
		     #014 #
			 Transition O.B.5000.100
	     }
	IMAGE Main face- blink
	     {
		     #014a#
			 Transition W..6000>O.A.20.100>O.A.20.-100>W..1000>O.A.20.100>O.A.20.-100>W..1000~
		 }