SCEN Scene01, Ver=0
//===========================//
CADRE KisBegin
    IMAGE Main face;                                   #FilePic01#
    IMAGE Main face-blink;                             #FilePic02#
