<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>	
	<appSettings>      
      <add key="ScenarioFileName" value="d:\Process2\!!Data\EroFilms\1956\[E56-001-USA] Grindhouse Exploitation Collection - Tortured Females\scenario.txt" />
	  <add key="SoundTemplate" value="ScenarioBG_Music" />
	  <add key="TextTemplate" value="T2" />
	  <add key="PicTemplate" value="MOVIE" />
    <add key="AddNewSetTemplate" value="AddNewSet(desr,'$FN0',$FN1FPATH + @'$FN2#$FN4',$FN3, desr, null, null);" />
    <add key="LinkForPicsTemplate" value="http://pics.dmm.co.jp/mono/movie/adult/$FN0$FN1$FN2/$FN0$FN1$FN2pl.jpg" />
    <add key="CompanyNum" value="118" />
    <add key="SeriePrefix" value="chn" />
    <add key="StartId" value="107" />
    <add key="EndId" value="107" />
    <add key="SavePicToDir" value="d:\temp\5\" />
    <add key="TemplateDigits" value="2" />
    <add key="ClipToProcess" value="d:\Process2\!!Data\EroFilms\1956\[E56-001-USA] Grindhouse Exploitation Collection - Tortured Females\[E56-001-USA] Grindhouse Exploitation Collection - Tortured Females.m4v" />
    <add key="ScrollFactor1" value="200" />
    <add key="ScrollFactor2" value="200" />
  </appSettings>
</configuration>